@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

a {
  text-decoration: none;
}

body .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2.5rem 4rem;
}
body .header .header__title {
  font-size: 2.6rem;
  font-weight: 700;
}
body .header .header__switchThemeBtn {
  position: relative;
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.25rem;
  padding-right: 4rem;
}
@media screen and (min-width: 768px) {
  body .header {
    padding: 14rem 10rem 4rem;
  }
}
@media screen and (min-width: 1024px) {
  body .header {
    padding: 14rem 36rem 4rem;
  }
  body .header .header__switchThemeBtn {
    cursor: pointer;
  }
}

body .user {
  position: relative;
  margin: 0 2.5rem 2rem;
}
body .user .user__searchInput {
  position: relative;
  width: 100%;
  padding: 2rem 0 2rem 4.5rem;
  border-radius: 1rem;
  border: none;
}
body .user .user__searchInput::placeholder {
  font-size: 1.3rem;
  letter-spacing: 0;
}
body .user::after {
  content: url("../assets/icon-search.svg");
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1.75rem;
  left: 1.5rem;
}
body .user .user__searchBtn {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem 1.5rem;
}
body .user .user__searchNotFound {
  position: absolute;
  display: none;
  font-size: 1.5rem;
  font-weight: 700;
  top: 1.75rem;
  right: 10rem;
  color: hsl(0deg, 91%, 62%);
}
@media screen and (min-width: 768px) {
  body .user {
    margin: 0 10rem 2.5rem;
  }
  body .user .user__searchInput {
    padding: 2rem 0 2rem 8rem;
  }
  body .user .user__searchInput::placeholder {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  body .user::after {
    width: 2.5rem;
    height: 2.5rem;
    left: 3rem;
  }
}

body .info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2.5rem;
  border-radius: 1rem;
}
body .info .info__userPhoto {
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: 3.5rem;
  left: 2.5rem;
  border-radius: 50%;
}
body .info .info__mainUserInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}
body .info .info__mainUserInfo .info__userNameLogin {
  margin: 3.5rem 0 0 12rem;
}
body .info .info__mainUserInfo .info__userNameLogin .info__userName {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
}
body .info .info__mainUserInfo .info__userNameLogin .info__userUsername {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
}
body .info .info__mainUserInfo .info__userJoined {
  display: inline-block;
  margin: 0.5rem 0 0 12rem;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
}
body .info .info__userBio {
  width: 100%;
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-weight: 400;
  margin: 0 2.5rem;
}
body .info .info__userNumbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
}
body .info .info__userNumbers .info__userNumbersBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .info .info__userNumbers .info__userNumbersBox h3 {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}
body .info .info__userNumbers .info__userNumbersBox span {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-align: center;
}
body .info .info__userContacts {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
}
body .info .info__userContacts .info__userContactsBox {
  display: flex;
  flex-direction: column;
}
body .info .info__userContacts .info__userContactsBox div {
  position: relative;
  margin-bottom: 1.5rem;
}
body .info .info__userContacts .info__userContactsBox div svg {
  position: absolute;
  left: 0;
}
body .info .info__userContacts .info__userContactsBox div span, body .info .info__userContacts .info__userContactsBox div a {
  position: relative;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  padding-left: 3.3rem;
}
body .info .info__userContacts .info__userContactsBox:nth-of-type(2) div:last-child {
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  body .info {
    margin: 0 10rem;
  }
  body .info .info__userPhoto {
    width: 12rem;
    height: 12rem;
    top: 4rem;
    left: 4rem;
  }
  body .info .info__mainUserInfo {
    margin-bottom: 4rem;
  }
  body .info .info__mainUserInfo .info__userNameLogin {
    margin: 5rem 0 0 20rem;
  }
  body .info .info__mainUserInfo .info__userNameLogin .info__userName {
    font-size: 2.6rem;
    line-height: 3.8rem;
  }
  body .info .info__mainUserInfo .info__userNameLogin .info__userUsername {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  body .info .info__mainUserInfo .info__userJoined {
    display: inline-block;
    margin: 0.5rem 0 0 20rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  body .info .info__userBio {
    font-size: 1.5rem;
    margin: 0 4rem;
  }
  body .info .info__userNumbers {
    align-items: flex-start;
    margin: 4rem;
    padding: 2rem 3rem;
  }
  body .info .info__userNumbers .info__userNumbersBox {
    justify-content: flex-start;
    align-items: flex-start;
  }
  body .info .info__userNumbers .info__userNumbersBox h3 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: left;
  }
  body .info .info__userNumbers .info__userNumbersBox span {
    font-size: 2.2rem;
    line-height: 3.2rem;
    text-align: left;
  }
  body .info .info__userContacts {
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
  }
  body .info .info__userContacts .info__userContactsBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
  }
  body .info .info__userContacts .info__userContactsBox div {
    position: relative;
    margin-right: 10rem;
  }
  body .info .info__userContacts .info__userContactsBox div svg {
    position: absolute;
    left: 0;
  }
  body .info .info__userContacts .info__userContactsBox div span, body .info .info__userContacts .info__userContactsBox div a {
    position: relative;
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding-left: 3.3rem;
  }
  body .info .info__userContacts .info__userContactsBox:nth-of-type(2) div:last-child {
    margin-bottom: 0;
  }
}

.light-theme {
  background-color: hsl(227deg, 100%, 98%);
}

.dark-theme {
  background-color: hsl(220deg, 40%, 13%);
}

.light-theme .header .header__title {
  color: hsl(217deg, 21%, 21%);
}
.light-theme .header .header__switchThemeBtn {
  color: hsl(217deg, 35%, 45%);
}
.light-theme .header .header__switchThemeBtn::after {
  content: url("../assets/icon-moon.svg");
  position: absolute;
  top: 0;
  right: 1rem;
}

.dark-theme .header .header__title {
  color: hsl(0deg, 0%, 100%);
}
.dark-theme .header .header__switchThemeBtn {
  color: hsl(0deg, 0%, 100%);
}
.dark-theme .header .header__switchThemeBtn::after {
  content: url("../assets/icon-sun.svg");
  position: absolute;
  top: 0;
  right: 1rem;
}

.light-theme .user .user__searchInput {
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 16px 30px -10px hsla(227deg, 46%, 50%, 0.199);
  color: hsl(217deg, 35%, 45%);
}
.light-theme .user .user__searchInput::placeholder {
  color: hsl(217deg, 35%, 45%);
}
.light-theme .user .user__searchBtn {
  background-color: hsl(212deg, 100%, 50%);
  color: hsl(0deg, 0%, 100%);
}

.dark-theme .user .user__searchInput {
  background-color: hsl(222deg, 41%, 20%);
  color: hsl(0deg, 0%, 100%);
}
.dark-theme .user .user__searchInput::placeholder {
  color: hsl(0deg, 0%, 100%);
}
.dark-theme .user .user__searchBtn {
  background-color: hsl(212deg, 100%, 50%);
  color: hsl(0deg, 0%, 100%);
}

.light-theme .info {
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 16px 30px -10px hsla(227deg, 46%, 50%, 0.199);
}
.light-theme .info .info__mainUserInfo .info__userNameLogin .info__userName {
  color: hsl(217deg, 21%, 21%);
}
.light-theme .info .info__mainUserInfo .info__userNameLogin .info__userUsername {
  color: hsl(212deg, 100%, 50%);
}
.light-theme .info .info__mainUserInfo .info__userJoined {
  color: hsl(217deg, 20%, 51%);
}
.light-theme .info .info__userBio {
  color: hsl(217deg, 35%, 45%);
}
.light-theme .info .info__userBio.noBio {
  color: hsla(217deg, 35%, 45%, 0.5);
}
.light-theme .info .info__userNumbers {
  background-color: hsl(227deg, 100%, 98%);
}
.light-theme .info .info__userNumbers .info__userNumbersBox h3 {
  color: hsl(217deg, 35%, 45%);
}
.light-theme .info .info__userNumbers .info__userNumbersBox span {
  color: hsl(217deg, 21%, 21%);
}
.light-theme .info .info__userContacts .info__userContactsBox div svg path {
  fill: hsl(217deg, 35%, 45%);
}
.light-theme .info .info__userContacts .info__userContactsBox div span, .light-theme .info .info__userContacts .info__userContactsBox div a {
  color: hsl(217deg, 35%, 45%);
}
.light-theme .info .info__userContacts .info__userContactsBox div.noData svg path {
  fill: hsla(217deg, 35%, 45%, 0.5);
}
.light-theme .info .info__userContacts .info__userContactsBox div.noData span, .light-theme .info .info__userContacts .info__userContactsBox div.noData a {
  color: hsla(217deg, 35%, 45%, 0.5);
}
.light-theme .info .info__userContacts .info__userContactsBox div.noData a {
  cursor: default;
}

.dark-theme .info {
  background-color: hsl(222deg, 41%, 20%);
}
.dark-theme .info .info__mainUserInfo .info__userNameLogin .info__userName {
  color: hsl(0deg, 0%, 100%);
}
.dark-theme .info .info__mainUserInfo .info__userNameLogin .info__userUsername {
  color: hsl(212deg, 100%, 50%);
}
.dark-theme .info .info__mainUserInfo .info__userJoined {
  color: hsl(0deg, 0%, 100%);
}
.dark-theme .info .info__userBio {
  color: hsl(0deg, 0%, 100%);
}
.dark-theme .info .info__userBio.noBio {
  color: hsla(0deg, 0%, 100%, 0.5);
}
.dark-theme .info .info__userNumbers {
  background-color: hsl(220deg, 40%, 13%);
}
.dark-theme .info .info__userNumbers .info__userNumbersBox h3 {
  color: hsla(0deg, 0%, 100%, 0.75);
}
.dark-theme .info .info__userNumbers .info__userNumbersBox span {
  color: hsl(0deg, 0%, 100%);
}
.dark-theme .info .info__userContacts .info__userContactsBox div svg path {
  fill: hsl(0deg, 0%, 100%);
}
.dark-theme .info .info__userContacts .info__userContactsBox div span, .dark-theme .info .info__userContacts .info__userContactsBox div a {
  color: hsl(0deg, 0%, 100%);
}
.dark-theme .info .info__userContacts .info__userContactsBox div.noData svg path {
  fill: hsla(0deg, 0%, 100%, 0.5);
}
.dark-theme .info .info__userContacts .info__userContactsBox div.noData span, .dark-theme .info .info__userContacts .info__userContactsBox div.noData a {
  color: hsla(0deg, 0%, 100%, 0.5);
}
.dark-theme .info .info__userContacts .info__userContactsBox div.noData a {
  cursor: default;
}

/*# sourceMappingURL=style.css.map */
