.light-theme {
    .header {
        .header__title {
            color: map-get($light-colors, header_titleText-color);
        }
        .header__switchThemeBtn {
            color: map-get($light-colors, header_switchTxt-color);
        }

        .header__switchThemeBtn:hover {
            color: map-get($light-colors, header_switchHoverTxt-color );
        }

        .header__switchSun {
            display: none;
        }

        .header__switchThemeBtn:hover ~ .header__switchMoon {
                path {
                    fill: map-get($light-colors, header_switchHoverTxt-color );
                }
        }
    }
}