body {
    .header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 2.5rem 4rem; 

        .header__title {
            font-size: 2.6rem;
            font-weight: 700;
        }

        .header__switchThemeBtn {
            background: none;
            border: none;
            text-transform: uppercase;
            font-size: 1.3rem;
            letter-spacing: .25rem;
            padding-right: 4rem;
            font-weight: 700;
        }

        svg {
            position: absolute;
            top: 4rem;
            right: 3rem;
        }
    }

    @include tablet {
        .header {
            padding: 14rem 10rem 4rem; 

            svg {
                position: absolute;
                top: 15rem;
                right: 10rem;
            }
        }
    }

    @include desktop {
        .header {
            padding: 14rem 36rem 4rem;

            .header__switchThemeBtn {
                cursor: pointer; 
            }

            svg {
                position: absolute;
                top: 15rem;
                right: 36rem;
            }
        }
    }
}