.dark-theme {
    .header {
        .header__title {
            color: map-get($dark-colors, header_text-color);
        }
        .header__switchThemeBtn {
            color: map-get($dark-colors, header_text-color);
        }

        .header__switchThemeBtn:hover {
            color: map-get($dark-colors, header_switchHoverTxt-color );
        }

        .header__switchMoon {
            display: none;
        }

        .header__switchThemeBtn:hover ~ .header__switchSun {
                path {
                    fill: map-get($dark-colors, header_switchHoverTxt-color );
                }
        }
    }
}