body {
    .info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2.5rem;
        border-radius: 1rem;

        .info__userPhoto {
            position: absolute;
            width: 7rem;
            height: 7rem;
            top: 3.5rem;
            left: 2.5rem;
            border-radius: 50%;
        }

        .info__mainUserInfo {
            display: flex;
            flex-direction: column;
            margin-bottom: 3.5rem;
            
            .info__userNameLogin {
                margin: 3.5rem 0 0 12rem;
                .info__userName {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    font-weight: 700;
                }
                .info__userUsername{
                    font-size: 1.3rem;
                    line-height: 2rem;
                    font-weight: 400;
                }
            }
            .info__userJoined {
                display: inline-block;
                margin: .5rem 0 0 12rem;
                font-size: 1.3rem;
                line-height: 2rem;
                font-weight: 400;
            }
        }
        .info__userBio {
            width: 100%;
            font-size: 1.3rem;
            line-height: 2.5rem;
            font-weight: 400;
            margin: 0 2.5rem;
        }
        .info__userNumbers{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            margin: 2.5rem;
            padding: 2rem 3rem;
            border-radius: 1rem;
            .info__userNumbersBox{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                    font-weight: 400;
                    text-align: center;
                    margin-bottom: 1rem;
                }

                span{ 
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }
        .info__userContacts {
            display: flex;
            flex-direction: column;
            margin-left: 2.5rem;
            .info__userContactsBox {
                display: flex;
                flex-direction: column;
                div {
                    position: relative;
                    margin-bottom: 1.5rem;
                    svg {
                        position: absolute;
                        left: 0;
                    }
                    span, a {
                        position: relative;
                        font-size: 1.3rem;
                        line-height: 2rem;
                        font-weight: 400;
                        padding-left: 3.3rem;
                    }
                }
                &:nth-of-type(2) {
                    div:last-child {
                        margin-bottom: 5rem;
                    }
                }
            }
        }
    }

    @include tablet {
        .info {
            margin: 0 10rem; 

            .info__userPhoto{
                width: 12rem;
                height: 12rem;
                top: 4rem;
                left: 4rem;
            }
            .info__mainUserInfo {
                margin-bottom: 4rem;

                .info__userNameLogin {
                    margin: 5rem 0 0 20rem;
                    .info__userName {
                        font-size: 2.6rem;
                        line-height: 3.8rem;
                    }
                    .info__userUsername{
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                    }
                }
                .info__userJoined {
                    display: inline-block;
                    margin: .5rem 0 0 20rem;
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                }
            }
            .info__userBio {
                font-size: 1.5rem;
                margin: 0 4rem;
            }
            .info__userNumbers{
                align-items: flex-start;
                margin: 4rem;
                padding: 2rem 3rem;

                .info__userNumbersBox{
                    justify-content: flex-start;
                    align-items: flex-start;
                    h3{
                        font-size: 1.3rem;
                        line-height: 2rem;
                        font-weight: 400;
                        text-align: left;
                    }
    
                    span{ 
                        font-size: 2.2rem;
                        line-height: 3.2rem;
                        text-align: left;
                    }
                }
            }
            .info__userContacts {
                display: flex;
                flex-direction: row;
                margin-left: 4rem;
                .info__userContactsBox {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 4rem;
                    div {
                        position: relative;
                        margin-right: 10rem;
                        svg {
                            position: absolute;
                            left: 0;
                        }
                        span, a {
                            position: relative;
                            font-size: 1.5rem;
                            line-height: 2.2rem;
                            padding-left: 3.3rem;
                        }
                    }
                    &:nth-of-type(2) {
                        div:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    @include desktop {
        .info {
            margin: 0 16rem; 

            .info__userPhoto{
                top: 5rem;
                left: 5rem;
            }
            .info__mainUserInfo {
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 4rem;

                .info__userNameLogin {
                    margin: 5rem 14rem 0 20rem;
                }
                .info__userJoined {
                    display: inline-block;
                    margin: 6rem 4rem 0 0;
                }
            }
            .info__userBio {
                font-size: 1.5rem;
                margin: 0 5rem 0 20rem;
            }
            .info__userNumbers{
                align-items: flex-start;
                justify-content: space-evenly;
                margin: 4rem 4rem 4rem 20rem;
                padding: 2rem 3rem;
            }
            .info__userContacts {
                margin-left: 20rem;
                .info__userContactsBox {
                    div {
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    @include mDesktop {
        .info {
            margin: 0 20rem; 
        }
    }

    @include lDesktop {
        .info {
            margin: 0 36rem; 

        }
    }
}