.dark-theme {
    .user {
        .user__searchInput {
            background-color: map-get($dark-colors, nav_placeholderBg-color);
            color: map-get($dark-colors, nav_placeholderText-color);
            &::placeholder {
                color: map-get($dark-colors, nav_placeholderText-color)
            }

        }
        .user__searchBtn {
            background-color: map-get($dark-colors , nav_btnBg-color );
            color: map-get($dark-colors, nav_btnText-color )
        }

        .user__searchBtn:hover {
            background-color: map-get($dark-colors , nav_btnHoverBg-color );
        }
    }
}