 body {
    .user {
        position: relative;
        margin: 0 2.5rem 2rem;
        .user__searchInput {
            position: relative;
            width: 100%;
            padding: 2rem 0 2rem 4.5rem;
            border-radius: 1rem;
            border: none;

            &::placeholder {
                font-size: 1.3rem;
                letter-spacing: 0;
            }

        }
        &::after {
            content: url('../assets/icon-search.svg');
            position: absolute;
            width: 2rem;
            height: 2rem;
            top: 1.75rem;
            left: 1.5rem;
        }
        .user__searchBtn {
            position: absolute;
            top: 1rem;
            right: .5rem;
            border-radius: 1rem;
            border: none;
            padding: 1rem 1.5rem;
        }
        .user__searchNotFound {
            position: absolute;
            display: none;
            font-size: 1.5rem;
            font-weight: 700;
            top: 1.75rem;
            right: 10rem;
            color: map-get($light-colors ,nav_error-color );
        }
    }

    @include tablet {
        .user {
            margin: 0 10rem 2.5rem;
            .user__searchInput {
                padding: 2rem 0 2rem 8rem;

                &::placeholder {
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
            }
            &::after {
                width: 2.5rem;
                height: 2.5rem;
                left: 3rem;
            }
        }
    }

    @include desktop {
        .user {
            margin: 0 36rem 2.5rem;
            .user__searchInput, .user__searchBtn {
                cursor: pointer;
            }
        }
    }
 }